.members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .members {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

.ourTeam {
    grid-column: 1 / -1;
    text-align: left;
    color: white;
    font-size: 40px;
    font-weight: 800;
}

.teamBlock {
    padding: 200px 0;
}