.header {
    z-index: 100;
    position: relative;
    background-color: #222;
    padding: 1rem 3rem;
}

@media (min-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;
    }
}

.logo {
    font-size: 2rem;
    color: #222;
    font-weight: 800;
    text-decoration: none;
}

.logo img {
    width: 50px;
    height: 50px;
    transition: box-shadow 0.5s ease;
    border-radius: 50%;
}

.logo img:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 1);
}

.nav {
    text-align: center;
}

.nav-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
}

.nav-item a {
    display: block;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease;
}

.nav-item a:hover {
    color: #1888d8;
}

.nav-toggle .menu-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.nav-toggle {
    font-size: 1.5rem;
    border: none;
    background-color: #222;
    display: none;
}

@media(max-width: 599px) {
    .nav-toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1.2rem;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #222;
        z-index: 99;
        opacity: 0;
        padding: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: all 0.3s;
    }

    .nav-list.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}