.footerBlock {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyTelegram {
    border: none;
    background: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
    transition: color 0.3s ease;
}

.copyTelegram:hover {
    color: #1888d8;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]::after {
    margin: 10px;
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}