body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

main {
    position: relative;
    background-image: url('./pictures/winter-background.png');
    background-size: cover;
    box-shadow: 5px 5px 30px #333;
}

@media (min-width: 1024px) {
    body {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media (max-width: 1023px) {
    body {
        background-repeat: repeat;
    }
}